.ai-preloader .ai-child {
    color: #e64d3a;
}
.main-navigation .mainmenu--centered{
    text-align: right;
}
.header:not(.header-transparent) .main-navigation .mainmenu__item.active > a {
    color:#e64d3a;
}
.header:not(.header-transparent) .main-navigation .mainmenu__link > span.mm-text:after {
    background-color: #e64d3a;
}
